<%= form_with model: @post do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :author %>
    <%= form.text_field :author %>
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
    <%= form.label :image, "Post Image" %>
    <%= form.file_field :image %>
    <%= form.label :image, "Background Image" %>
    <%= form.file_field :background_image %>
    <%= form.submit %>
  </div>
  <%= image_tag @post.background_image if @post.background_image.persisted?  %>
  <%= image_tag @post.image if @post.image.persisted?  %>
<% end %>